<ol class="items" data-bind="foreach: getDisplayedItems()">
    <li class="item">
        <a data-bind="
            attr: {href:url, rel:$parent.displayRelNofollow},
            click: function() { $parent.handleNavigation($data); },
             visible: count >= 1"
        >
            <label onclick="this.parentNode.click();">
                <input type="checkbox" data-bind="checked: is_selected" />
                <span data-bind="html: label"></span>
                <span class="count" data-bind="text: count, visible: $parent.displayProductCount"></span>
            </label>
        </a>

        <div data-bind="visible: count < 1">
            <span data-bind="text: label"></span>
            <span class="count" data-bind="text: count"></span>
        </div>
    </li>
</ol>

<div class="actions" data-bind="visible: enableExpansion()">
    <div class="secondary">
        <a class="action show-more" data-bind="visible: displayShowMore(), event: {click: onShowMore}"><span data-bind="text: showMoreLabel"></span></a>
        <a class="action show-less" data-bind="visible: displayShowLess(), event: {click: onShowLess}"><span data-bind="text: showLessLabel"></span></a>
    </div>
</div>
