& when (@media-common = true) {
    .products {
        &.list.items {
            &.loading {
                opacity: .5;
            }
        }
        &-infinite-scroll {
            .toolbar-products .toolbar-amount,
            .toolbar-products .pages,
            .products.wrapper ~ .toolbar-products .pages {
                display: none;
            }
        }
    }
    .filter-options-item.is-closed .filter-options-content {
        display: none;
    }
}
